.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  animation: moves 2s;
  background-color: #282c34;
}
  
  @keyframes moves {
    from{transform: translateX(50%)}
    to{transform: translateX(0)}
  }
  

